


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."actualizar_totales_venta"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE ventas
  SET 
    subtotal = (
      SELECT COALESCE(SUM(subtotal), 0)
      FROM venta_items
      WHERE venta_id = COALESCE(NEW.venta_id, OLD.venta_id)
    ),
    descuento = (
      SELECT COALESCE(SUM(descuento), 0)
      FROM venta_items
      WHERE venta_id = COALESCE(NEW.venta_id, OLD.venta_id)
    ),
    total = (
      SELECT COALESCE(SUM(total), 0)
      FROM venta_items
      WHERE venta_id = COALESCE(NEW.venta_id, OLD.venta_id)
    ),
    updated_at = NOW()
  WHERE id = COALESCE(NEW.venta_id, OLD.venta_id);
  
  RETURN COALESCE(NEW, OLD);
END;
$$;


ALTER FUNCTION "public"."actualizar_totales_venta"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."clients_set_full_name"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.full_name := TRIM(NEW.first_name || ' ' || NEW.last_name);
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."clients_set_full_name"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.profiles (id, first_name, last_name, avatar_url)
  VALUES (
    NEW.id,
    NEW.raw_user_meta_data->>'first_name',
    NEW.raw_user_meta_data->>'last_name',
    NEW.raw_user_meta_data->>'avatar_url'
  );
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."manejar_cancelacion_venta"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Solo si cambia a 'cancelada'
  IF NEW.estado = 'cancelada' AND OLD.estado != 'cancelada' THEN
    -- Restaurar stock de todos los items
    UPDATE articulos a
    SET stock_actual = stock_actual + vi.cantidad
    FROM venta_items vi
    WHERE vi.venta_id = NEW.id
      AND vi.articulo_id = a.id;
    
    -- Registrar movimientos de devoluci├│n
    INSERT INTO movimientos (
      articulo_id,
      venta_id,
      cliente_id,
      tipo,
      cantidad,
      precio_unitario,
      precio_total,
      motivo
    )
    SELECT 
      vi.articulo_id,
      NEW.id,
      NEW.cliente_id,
      'devolucion_cliente',
      vi.cantidad,
      vi.precio_unitario,
      vi.total,
      'Venta cancelada'
    FROM venta_items vi
    WHERE vi.venta_id = NEW.id;
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."manejar_cancelacion_venta"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."procesar_venta_item"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_stock_anterior DECIMAL(10, 3);
  v_stock_posterior DECIMAL(10, 3);
  v_cliente_id UUID;
  v_vendedor_id UUID;
BEGIN
  -- Obtener stock actual antes de modificar
  SELECT stock_actual INTO v_stock_anterior
  FROM articulos
  WHERE id = NEW.articulo_id;
  
  -- Verificar que hay suficiente stock
  IF v_stock_anterior < NEW.cantidad THEN
    RAISE EXCEPTION 'Stock insuficiente. Disponible: %, Solicitado: %', 
      v_stock_anterior, NEW.cantidad;
  END IF;
  
  -- Descontar del stock
  UPDATE articulos 
  SET stock_actual = stock_actual - NEW.cantidad
  WHERE id = NEW.articulo_id
  RETURNING stock_actual INTO v_stock_posterior;
  
  -- Obtener datos de la venta
  SELECT cliente_id, vendedor_id INTO v_cliente_id, v_vendedor_id
  FROM ventas
  WHERE id = NEW.venta_id;
  
  -- Registrar movimiento
  INSERT INTO movimientos (
    articulo_id,
    venta_id,
    cliente_id,
    usuario_id,
    tipo,
    cantidad,
    precio_unitario,
    precio_total,
    stock_anterior,
    stock_posterior
  ) VALUES (
    NEW.articulo_id,
    NEW.venta_id,
    v_cliente_id,
    v_vendedor_id,
    'venta',
    NEW.cantidad,
    NEW.precio_unitario,
    NEW.total,
    v_stock_anterior,
    v_stock_posterior
  );
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."procesar_venta_item"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."ventas_set_estado_completada"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  -- Si antes no ten├¡a m├®todo de pago y ahora s├¡ => completar
  if old.metodo_pago_id is null and new.metodo_pago_id is not null then
    select id
      into new.estado_id
    from venta_estados
    where codigo = 'completada'
    limit 1;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."ventas_set_estado_completada"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."ventas_set_estado_default"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  if new.estado_id is null then
    select id
    into new.estado_id
    from venta_estados
    where codigo = 'pendiente'
    limit 1;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."ventas_set_estado_default"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."articulos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "codigo" character varying(50),
    "nombre" character varying(255) NOT NULL,
    "descripcion" "text",
    "categoria" character varying(100),
    "unidad_medida" character varying(20) NOT NULL,
    "es_fraccionable" boolean DEFAULT false,
    "stock_actual" numeric(10,3) DEFAULT 0 NOT NULL,
    "stock_minimo" numeric(10,3) DEFAULT 0,
    "precio_compra" numeric(10,2),
    "precio_venta_por_unidad" numeric(10,2),
    "proveedor" character varying(255),
    "ubicacion" character varying(100),
    "activo" boolean DEFAULT true,
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "proveedor_id" "uuid"
);


ALTER TABLE "public"."articulos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."categorias" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "descripcion" "text",
    "activo" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "categorias_nombre_not_blank" CHECK (("length"(TRIM(BOTH FROM "nombre")) >= 2))
);


ALTER TABLE "public"."categorias" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."clients" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "first_name" "text" NOT NULL,
    "last_name" "text" NOT NULL,
    "phone" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "full_name" "text",
    CONSTRAINT "clients_phone_not_blank" CHECK (("length"(TRIM(BOTH FROM "phone")) >= 6))
);


ALTER TABLE "public"."clients" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."metodos_pago" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "codigo" "text",
    "nombre" "text",
    "icon" "text"
);


ALTER TABLE "public"."metodos_pago" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."movimientos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "articulo_id" "uuid" NOT NULL,
    "venta_id" "uuid",
    "cliente_id" "uuid",
    "proveedor_id" "uuid",
    "usuario_id" "uuid",
    "tipo" character varying(30) NOT NULL,
    "cantidad" numeric(10,3) NOT NULL,
    "precio_unitario" numeric(10,2),
    "precio_total" numeric(10,2),
    "stock_anterior" numeric(10,3),
    "stock_posterior" numeric(10,3),
    "motivo" "text",
    "numero_comprobante" character varying(100),
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "movimientos_cantidad_positive" CHECK (("cantidad" > (0)::numeric)),
    CONSTRAINT "movimientos_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['venta'::character varying, 'compra'::character varying, 'ajuste_positivo'::character varying, 'ajuste_negativo'::character varying, 'devolucion_cliente'::character varying, 'devolucion_proveedor'::character varying, 'merma'::character varying, 'vencimiento'::character varying])::"text"[])))
);


ALTER TABLE "public"."movimientos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "first_name" "text",
    "last_name" "text",
    "full_name" "text" GENERATED ALWAYS AS (TRIM(BOTH FROM (("first_name" || ' '::"text") || "last_name"))) STORED,
    "avatar_url" "text",
    "phone" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."proveedores" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "razon_social" "text",
    "cuit" character varying(13),
    "telefono" "text",
    "email" "text",
    "sitio_web" "text",
    "direccion" "text",
    "ciudad" "text",
    "provincia" "text",
    "codigo_postal" character varying(10),
    "condicion_pago" "text",
    "descuento_habitual" numeric(5,2),
    "dias_entrega" integer,
    "pedido_minimo" numeric(10,2),
    "notas" "text",
    "nombre_contacto" "text",
    "telefono_contacto" "text",
    "activo" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "proveedores_nombre_not_blank" CHECK (("length"(TRIM(BOTH FROM "nombre")) >= 2))
);


ALTER TABLE "public"."proveedores" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."venta_estados" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "color" "text",
    "codigo" "text"
);


ALTER TABLE "public"."venta_estados" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."venta_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "venta_id" "uuid" NOT NULL,
    "articulo_id" "uuid" NOT NULL,
    "cantidad" numeric(10,3) NOT NULL,
    "precio_unitario" numeric(10,2) NOT NULL,
    "subtotal" numeric(10,2) NOT NULL,
    "descuento" numeric(10,2) DEFAULT 0 NOT NULL,
    "total" numeric(10,2) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "venta_items_cantidad_positive" CHECK (("cantidad" > (0)::numeric)),
    CONSTRAINT "venta_items_precio_positive" CHECK (("precio_unitario" >= (0)::numeric))
);


ALTER TABLE "public"."venta_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ventas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cliente_id" "uuid",
    "vendedor_id" "uuid",
    "subtotal" numeric(10,2) DEFAULT 0 NOT NULL,
    "descuento" numeric(10,2) DEFAULT 0 NOT NULL,
    "total" numeric(10,2) NOT NULL,
    "numero_comprobante" character varying(100),
    "tipo_comprobante" character varying(20),
    "notas" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "estado_id" "uuid" NOT NULL,
    "metodo_pago_id" "uuid",
    CONSTRAINT "ventas_total_positive" CHECK (("total" >= (0)::numeric))
);


ALTER TABLE "public"."ventas" OWNER TO "postgres";


ALTER TABLE ONLY "public"."articulos"
    ADD CONSTRAINT "articulos_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."articulos"
    ADD CONSTRAINT "articulos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categorias"
    ADD CONSTRAINT "categorias_nombre_unique" UNIQUE ("nombre");



ALTER TABLE ONLY "public"."categorias"
    ADD CONSTRAINT "categorias_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."clients"
    ADD CONSTRAINT "clients_phone_unique" UNIQUE ("phone");



ALTER TABLE ONLY "public"."clients"
    ADD CONSTRAINT "clients_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."metodos_pago"
    ADD CONSTRAINT "metodos_pago_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."proveedores"
    ADD CONSTRAINT "proveedores_cuit_unique" UNIQUE ("cuit");



ALTER TABLE ONLY "public"."proveedores"
    ADD CONSTRAINT "proveedores_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."venta_estados"
    ADD CONSTRAINT "venta_estados_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."venta_items"
    ADD CONSTRAINT "venta_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ventas"
    ADD CONSTRAINT "ventas_pkey" PRIMARY KEY ("id");



CREATE INDEX "categorias_activo_idx" ON "public"."categorias" USING "btree" ("activo");



CREATE INDEX "categorias_created_at_idx" ON "public"."categorias" USING "btree" ("created_at" DESC);



CREATE INDEX "categorias_nombre_idx" ON "public"."categorias" USING "btree" ("nombre");



CREATE INDEX "clients_created_at_idx" ON "public"."clients" USING "btree" ("created_at" DESC);



CREATE INDEX "clients_first_name_trgm_idx" ON "public"."clients" USING "gin" ("first_name" "public"."gin_trgm_ops");



CREATE INDEX "clients_last_name_trgm_idx" ON "public"."clients" USING "gin" ("last_name" "public"."gin_trgm_ops");



CREATE INDEX "movimientos_articulo_id_idx" ON "public"."movimientos" USING "btree" ("articulo_id");



CREATE INDEX "movimientos_created_at_idx" ON "public"."movimientos" USING "btree" ("created_at" DESC);



CREATE INDEX "movimientos_tipo_fecha_idx" ON "public"."movimientos" USING "btree" ("tipo", "created_at" DESC);



CREATE INDEX "movimientos_tipo_idx" ON "public"."movimientos" USING "btree" ("tipo");



CREATE INDEX "movimientos_venta_id_idx" ON "public"."movimientos" USING "btree" ("venta_id");



CREATE INDEX "proveedores_activo_idx" ON "public"."proveedores" USING "btree" ("activo");



CREATE INDEX "proveedores_created_at_idx" ON "public"."proveedores" USING "btree" ("created_at" DESC);



CREATE INDEX "proveedores_nombre_idx" ON "public"."proveedores" USING "btree" ("nombre");



CREATE INDEX "venta_items_articulo_id_idx" ON "public"."venta_items" USING "btree" ("articulo_id");



CREATE INDEX "venta_items_venta_id_idx" ON "public"."venta_items" USING "btree" ("venta_id");



CREATE INDEX "ventas_cliente_id_idx" ON "public"."ventas" USING "btree" ("cliente_id");



CREATE INDEX "ventas_created_at_idx" ON "public"."ventas" USING "btree" ("created_at" DESC);



CREATE INDEX "ventas_vendedor_id_idx" ON "public"."ventas" USING "btree" ("vendedor_id");



CREATE OR REPLACE TRIGGER "trg_categorias_updated_at" BEFORE UPDATE ON "public"."categorias" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "trg_clients_set_full_name" BEFORE INSERT OR UPDATE OF "first_name", "last_name", "full_name" ON "public"."clients" FOR EACH ROW EXECUTE FUNCTION "public"."clients_set_full_name"();



CREATE OR REPLACE TRIGGER "trg_profiles_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "trg_proveedores_updated_at" BEFORE UPDATE ON "public"."proveedores" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "trg_venta_items_actualizar_totales" AFTER INSERT OR DELETE OR UPDATE ON "public"."venta_items" FOR EACH ROW EXECUTE FUNCTION "public"."actualizar_totales_venta"();



CREATE OR REPLACE TRIGGER "trg_venta_items_procesar" AFTER INSERT ON "public"."venta_items" FOR EACH ROW EXECUTE FUNCTION "public"."procesar_venta_item"();



CREATE OR REPLACE TRIGGER "trg_ventas_set_estado_completada" BEFORE UPDATE OF "metodo_pago_id" ON "public"."ventas" FOR EACH ROW EXECUTE FUNCTION "public"."ventas_set_estado_completada"();



CREATE OR REPLACE TRIGGER "trg_ventas_set_estado_default" BEFORE INSERT ON "public"."ventas" FOR EACH ROW EXECUTE FUNCTION "public"."ventas_set_estado_default"();



CREATE OR REPLACE TRIGGER "trg_ventas_updated_at" BEFORE UPDATE ON "public"."ventas" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."articulos"
    ADD CONSTRAINT "articulos_proveedor_id_fkey" FOREIGN KEY ("proveedor_id") REFERENCES "public"."proveedores"("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_articulo_id_fkey" FOREIGN KEY ("articulo_id") REFERENCES "public"."articulos"("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "public"."clients"("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_proveedor_id_fkey" FOREIGN KEY ("proveedor_id") REFERENCES "public"."proveedores"("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_venta_id_fkey" FOREIGN KEY ("venta_id") REFERENCES "public"."ventas"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."venta_items"
    ADD CONSTRAINT "venta_items_articulo_id_fkey" FOREIGN KEY ("articulo_id") REFERENCES "public"."articulos"("id");



ALTER TABLE ONLY "public"."venta_items"
    ADD CONSTRAINT "venta_items_venta_id_fkey" FOREIGN KEY ("venta_id") REFERENCES "public"."ventas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."ventas"
    ADD CONSTRAINT "ventas_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "public"."clients"("id");



ALTER TABLE ONLY "public"."ventas"
    ADD CONSTRAINT "ventas_estado_id_fkey" FOREIGN KEY ("estado_id") REFERENCES "public"."venta_estados"("id");



ALTER TABLE ONLY "public"."ventas"
    ADD CONSTRAINT "ventas_metodo_pago_id_fkey" FOREIGN KEY ("metodo_pago_id") REFERENCES "public"."metodos_pago"("id");



ALTER TABLE ONLY "public"."ventas"
    ADD CONSTRAINT "ventas_vendedor_id_fkey" FOREIGN KEY ("vendedor_id") REFERENCES "public"."profiles"("id");



CREATE POLICY "Allow all for authenticated users" ON "public"."articulos" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can update their own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view their own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



ALTER TABLE "public"."articulos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."actualizar_totales_venta"() TO "anon";
GRANT ALL ON FUNCTION "public"."actualizar_totales_venta"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."actualizar_totales_venta"() TO "service_role";



GRANT ALL ON FUNCTION "public"."clients_set_full_name"() TO "anon";
GRANT ALL ON FUNCTION "public"."clients_set_full_name"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."clients_set_full_name"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."manejar_cancelacion_venta"() TO "anon";
GRANT ALL ON FUNCTION "public"."manejar_cancelacion_venta"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."manejar_cancelacion_venta"() TO "service_role";



GRANT ALL ON FUNCTION "public"."procesar_venta_item"() TO "anon";
GRANT ALL ON FUNCTION "public"."procesar_venta_item"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."procesar_venta_item"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."ventas_set_estado_completada"() TO "anon";
GRANT ALL ON FUNCTION "public"."ventas_set_estado_completada"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."ventas_set_estado_completada"() TO "service_role";



GRANT ALL ON FUNCTION "public"."ventas_set_estado_default"() TO "anon";
GRANT ALL ON FUNCTION "public"."ventas_set_estado_default"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."ventas_set_estado_default"() TO "service_role";



GRANT ALL ON TABLE "public"."articulos" TO "anon";
GRANT ALL ON TABLE "public"."articulos" TO "authenticated";
GRANT ALL ON TABLE "public"."articulos" TO "service_role";



GRANT ALL ON TABLE "public"."categorias" TO "anon";
GRANT ALL ON TABLE "public"."categorias" TO "authenticated";
GRANT ALL ON TABLE "public"."categorias" TO "service_role";



GRANT ALL ON TABLE "public"."clients" TO "anon";
GRANT ALL ON TABLE "public"."clients" TO "authenticated";
GRANT ALL ON TABLE "public"."clients" TO "service_role";



GRANT ALL ON TABLE "public"."metodos_pago" TO "anon";
GRANT ALL ON TABLE "public"."metodos_pago" TO "authenticated";
GRANT ALL ON TABLE "public"."metodos_pago" TO "service_role";



GRANT ALL ON TABLE "public"."movimientos" TO "anon";
GRANT ALL ON TABLE "public"."movimientos" TO "authenticated";
GRANT ALL ON TABLE "public"."movimientos" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."proveedores" TO "anon";
GRANT ALL ON TABLE "public"."proveedores" TO "authenticated";
GRANT ALL ON TABLE "public"."proveedores" TO "service_role";



GRANT ALL ON TABLE "public"."venta_estados" TO "anon";
GRANT ALL ON TABLE "public"."venta_estados" TO "authenticated";
GRANT ALL ON TABLE "public"."venta_estados" TO "service_role";



GRANT ALL ON TABLE "public"."venta_items" TO "anon";
GRANT ALL ON TABLE "public"."venta_items" TO "authenticated";
GRANT ALL ON TABLE "public"."venta_items" TO "service_role";



GRANT ALL ON TABLE "public"."ventas" TO "anon";
GRANT ALL ON TABLE "public"."ventas" TO "authenticated";
GRANT ALL ON TABLE "public"."ventas" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







